<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="scholarshipRemarks">
            <h2><span jhiTranslate="esmsApp.scholarshipRemarks.detail.title">Scholarship Remarks</span> {{scholarshipRemarks.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="esmsApp.scholarshipRemarks.remarks">Remarks</span></dt>
                <dd>
                    <span>{{scholarshipRemarks.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="esmsApp.scholarshipRemarks.scholarshipDetails">Scholarship Details</span></dt>
                <dd>
                    <div *ngIf="scholarshipRemarks.scholarshipDetails">
                        <a [routerLink]="['/scholarship-details', scholarshipRemarks.scholarshipDetails?.id, 'view']">{{scholarshipRemarks.scholarshipDetails?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/scholarship-remarks', scholarshipRemarks.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
