<div>
    <h2 id="page-heading">
        <span jhiTranslate="esmsApp.receipts.home.title">Receipts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receipts" [routerLink]="['/receipts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="esmsApp.receipts.home.createLabel">
            Create new Receipts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="receipts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiptDate"><span jhiTranslate="esmsApp.receipts.receiptDate">Receipt Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiptType"><span jhiTranslate="esmsApp.receipts.receiptType">Receipt Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="esmsApp.receipts.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="esmsApp.receipts.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="forYear"><span jhiTranslate="esmsApp.receipts.forYear">For Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="esmsApp.receipts.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipts of receipts ;trackBy: trackId">
                <td><a [routerLink]="['/receipts', receipts.id, 'view' ]">{{receipts.id}}</a></td>
                <td>{{receipts.receiptDate | date:'medium'}}</td>
                <td jhiTranslate="{{'esmsApp.ReceiptType.' + receipts.receiptType}}">{{receipts.receiptType}}</td>
                <td>{{receipts.name}}</td>
                <td>{{receipts.amount}}</td>
                <td>{{receipts.forYear | date:'medium'}}</td>
                <td>{{receipts.remarks}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/receipts', receipts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/receipts', receipts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipts/'+ receipts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="receipts && receipts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
