<div>
    <h2 id="page-heading">
        <span jhiTranslate="esmsApp.sponsorCommitments.home.title">Sponsor Commitments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sponsor-commitments" [routerLink]="['/sponsor-commitments/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="esmsApp.sponsorCommitments.home.createLabel">
            Create new Sponsor Commitments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sponsorCommitments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="esmsApp.sponsorCommitments.forYear">For Year</span></th>
            <th><span jhiTranslate="esmsApp.sponsorCommitments.amount">Amount</span></th>
            <th><span jhiTranslate="esmsApp.sponsorCommitments.paid">Paid</span></th>
            <th><span jhiTranslate="esmsApp.sponsorCommitments.reciptNo">Recipt No</span></th>
            <th><span jhiTranslate="esmsApp.sponsorCommitments.sponsorDetails">Sponsor Details</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sponsorCommitments of sponsorCommitments ;trackBy: trackId">
                <td><a [routerLink]="['/sponsor-commitments', sponsorCommitments.id, 'view' ]">{{sponsorCommitments.id}}</a></td>
                <td>{{sponsorCommitments.forYear | date:'medium'}}</td>
                <td>{{sponsorCommitments.amount}}</td>
                <td>{{sponsorCommitments.paid}}</td>
                <td>{{sponsorCommitments.reciptNo}}</td>
                <td>
                    <div *ngIf="sponsorCommitments.sponsorDetails">
                        <a [routerLink]="['../sponsor-details', sponsorCommitments.sponsorDetails?.id, 'view' ]" >{{sponsorCommitments.sponsorDetails?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sponsor-commitments', sponsorCommitments.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sponsor-commitments', sponsorCommitments.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sponsor-commitments/'+ sponsorCommitments.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
